

/*
Author: XpeedStudio
Author URI: http://themeforest.net/user/XpeedStudio/portfolio
*/

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    body {
        font-size: 15px;
    }


}

/* Portrait tablets and small desktops */
@media  (max-width: 991px) {
    html {
        font-size: 90%;
    }
    .heading h1 {
        font-size: 30px;
    }
    .portfolio-item h2 {
        font-size: 14px;
    }
    .item .details p {
        font-size: 16px;
    }

    .item .details small {
        font-size: 16px;
    }

    .photoshop, .photoshop1{
      margin-left: 10px;
      margin-right: 10px;
    }
    .home{
        background: url('../images/ipad.png') no-repeat center top fixed;
    }
    .numbers{
      margin-top: 20px;
    }
    .topworks{
      margin-top: 20px
    }
    .scroll-animation-wrapper{
      display: none;
    }
    .topbutton{
      margin-top: 10px;
    }
    .description{
      font-size: 14px;
      line-height: 15px;
    }
    .leftmargin{
      padding-left:20px;
    }
    .righttmargin{
      padding-right: 20px;
    }
    .overlay {
        background-color: rgba(0, 0, 0, 0.);
        width: 100%;
        min-height: 750px;
    }
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    html {
        font-size: 80%;
    }
    .navbar-toggle {
        background-color: #ffffff;
        border:none;
    }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: #333333;
        border:none;
    }
    .navbar-default .navbar-toggle:hover .icon-bar {
        background-color: #fff;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color:none;
        background: #00a5ff;
    }
    .brand-identity{
        text-align: center;
        margin-bottom:50px;
    }
    .home-content h1 {
        font-size: 35px;
    }
    .home-content h4 {
        font-size: 18px;
    }
    .contact-top h1 {
        text-align: center;
    }
    .contact-left-info {
        text-align: center;
    }
    .contact-btn{
        text-align: center;
    }
    .heading h1 {
        font-size: 20px;
    }

    .item .details p {
        font-size: 20px;
    }
    #quote-carousel .carousel-indicators li {
        width: 70px;
        height: 70px;
    }
    #quote-carousel .carousel-indicators .active {
        width: 90px;
        height: 90px;
    }

    .scrollup {
        width: 50px;
        height: 50px;
        line-height: 50px;
        bottom: 90px;
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        margin-top: 20px;
    }
    .owl-carousel .owl-item img {
        width:50%;
        margin: 0 auto;
    }
    .contact-top h1{
      font-size: 20px;
    }
    .logo-wrapper {

    }
    .home{
        background: url('../images/iphone.png') no-repeat center top fixed;
    }
    .numbers{
      margin-top: 0px;
    }
    h5 {
      font-size: 20px;
    }
    .leftmargin{
      margin-left: 10px;
      margin-right: 10px;
    }
    .righttmargin{
      margin-right: 10px;
      margin-left: 10px;
    }

    .change-order-row {
      display: flex;
      flex-direction: column;
    }

    .change-order-element {
      order: 1;
    }
    .overlay {
        background-color: rgba(0, 0, 0, 0.);
        width: 100%;
        min-height: 550px;
    }
    .logoharper{

      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
    }
    .contact-form .form-group label {
    font-size: 15px;}
    .contact-left-info h5{
      font-size: 15px;
    }
    .contact-left-info{
      margin-bottom: 25px;
    }
    .contact-top{
      margin-bottom: 50px;
    }
    .numbers{
      font-size: 30px;
    }
    .h1{
      font-size: 20px;
    }
    .btn {
    margin-top: 15px;

    font-size: 14px;
}
textarea.form-control {
    height: 100px;
}
.contact-top-responsive {
  margin-bottom: 0px;
}
.photoshop1{
  height: 7%;
  width: 7%;
}
.service-item i {
    background: none;
    height: 0px;
    width: 0px;
    border-radius: 100%;
    color: #00a5ff;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 10px;


}
.service-item h5 {
    text-transform: uppercase;
    color: #3a3f4b;
    font-family: 'Montserrat-regular';
    font-size: 8px;

}
.separator2 {
    /* height: 1px; */
    width: 0px;
    margin: auto;
    background: #999999;
    margin-bottom: 10px;
}
.centered{
  align-items: center;
}
.fa{
  display: initial;
}
}



/* Landscape phones and smaller */
@media (max-width: 480px) {
    html {
        font-size: 65%;
    }
    .brand-identity{
        text-align: center;
        margin-bottom:50px;
    }
    .home-content h1 {
        font-size: 22px;
    }
    .home-content h4 {
        font-size: 14px;
    }
    .home-content a {
        text-align: center;
    }
    .portfolio-item h2 {
        font-size: 15px;
    }
    .contact-top h1 {
        text-align: center;
    }
    .contact-left-info {
        text-align: center;
    }
    .copyright{
        margin-bottom: 25px;
    }
    .item .details p {
        font-size: 16px;
    }
    #quote-carousel .carousel-indicators li {
        width: 50px;
        height: 50px;
    }
    #quote-carousel .carousel-indicators .active {
        width: 70px;
        height: 70px;
    }
    #quote-carousel .carousel-control.left {
        left:0px;
    }
    #quote-carousel .carousel-control.right {
        right:0px;
    }
    #quote-carousel .carousel-control {
        top:30px;
    }
    .item .details p{
        font-size: 15px;
    }

    .item .details small{
        font-size: 15px;
    }

    .scrollup {
        width: 50px;
        height: 50px;
        line-height: 50px;
        bottom: 110px;
    }

    .owl-carousel .owl-item img {
        width:30%;
        margin: 0 auto;
    }
.logo-wrapper {

}
.fa{
  display: initial;
}


}



@media (max-width: 320px) {


    html {
        font-size: 60.5%;
    }
    .portfolio-item h2 {
        font-size: 13px;
    }
    .brand-identity{
        text-align: center;
        margin-bottom:50px;
    }
    .home-content h1 {
        font-size: 25px;
    }
    .contact-top h1 {
        text-align: center;
    }
    .contact-left-info {
        text-align: center;
    }
    .copyright{
        margin-bottom: 25px;
    }
    #quote-carousel .carousel-indicators li {
        width: 20px;
        height: 20px;
    }
    #quote-carousel .carousel-indicators .active {
        width: 40px;
        height: 40px;
    }
    .logo-wrapper {
      align-items: center;
    }
}
